@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-prescription, #printable-prescription * {
    visibility: visible;
  }
  #printable-prescription {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
